.loader-wrap {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: black;
  z-index: 100;
  overflow: hidden;
}

.loader-wrap .loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.loader-wrap .inner {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 40%;
}

.loader-wrap .inner.one {
  left: 0%;
  top: 0%;
  -webkit-animation: rotate-one 1s linear infinite;
          animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #ff0000;
}

.loader-wrap .inner.two {
  right: 0%;
  top: 0%;
  -webkit-animation: rotate-two 1s linear infinite;
          animation: rotate-two 1s linear infinite;
  border-right: 3px solid #ff0000;
}

.loader-wrap .inner.three {
  right: 0%;
  bottom: 0%;
  -webkit-animation: rotate-three 1s linear infinite;
          animation: rotate-three 1s linear infinite;
  border-top: 3px solid #ff0000;
}

.loader-wrap .inner.four {
  right: 0%;
  bottom: 0%;
  -webkit-animation: rotate-four 1s linear infinite;
          animation: rotate-four 1s linear infinite;
  border-top: 3px solid #ff0000;
}

@-webkit-keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-four {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(105deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(105deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(105deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(105deg) rotateZ(360deg);
  }
}

@keyframes rotate-four {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(105deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(105deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(105deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(105deg) rotateZ(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: radial-gradient(60% 60% ellipse at top left, #0c535c 20%, rgba(0, 0, 0, 0) 100%), radial-gradient(50% 60% ellipse at bottom right, #0c535c 20%, #0f3443 100%);
  background-attachment: fixed;
}

@media (min-width: 900px) {
  body {
    width: 100%;
    left: 0;
    margin: 0;
  }
}

.menu {
  font-size: 15px;
  background-color: lightblue;
  display: none;
  z-index: 99;
}

.menu__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  top: 0;
}

.menu__navigation button {
  font-family: "popins";
  position: relative;
  padding: 10px 20px;
  margin: 10px;
  font-size: 22px;
  border-style: none;
  background-color: transparent;
  overflow: hidden;
  color: white;
  cursor: pointer;
}

.menu__navigation button i {
  display: none;
}

.menu__navigation button:nth-of-type(1) i {
  display: block;
}

@media (min-width: 900px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7%;
    top: 20%;
    right: 20px;
  }
  .menu__navigation button {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 0;
    margin: 7px 0;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    color: #fcfcfc;
    font-size: 15px;
    background: rgba(5, 5, 5, 0.479);
    font-family: "Sriracha", cursive;
  }
  .menu__navigation button p {
    display: none;
  }
  .menu__navigation button i {
    display: block;
    font-size: 16px;
  }
  .menu button:nth-of-type(1) {
    background: #c90d0dcb;
    font-size: 25px;
  }
  .menu button:hover {
    width: 100px;
    height: 100px;
    right: 30px;
    -webkit-animation: menu 0.5s;
            animation: menu 0.5s;
    color: white;
    background: rgba(5, 5, 5, 0.692);
  }
  .menu button:hover p {
    display: block;
    text-transform: uppercase;
    -webkit-animation: showP 2s;
            animation: showP 2s;
  }
  .menu button:hover i {
    display: none;
  }
  .menu button:focus {
    -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
    overflow: hidden;
  }
}

button:first-of-type:hover {
  background: #20232a;
}

button:first-of-type:hover i {
  display: block;
}

@media (min-width: 1370px) {
  .menu__navigation {
    top: 15%;
    right: -20px;
  }
  .menu__navigation button {
    font-size: 14px;
    margin-top: 50px;
    width: 70px;
    height: 70px;
    font-size: 15px;
    font-weight: bold;
  }
  .menu__navigation button:hover {
    width: 107px;
    height: 107px;
    font-size: 14px;
  }
}

@-webkit-keyframes menu {
  0% {
    right: 0%;
  }
  100% {
    right: 30px;
  }
}

@keyframes menu {
  0% {
    right: 0%;
  }
  100% {
    right: 30px;
  }
}

@-webkit-keyframes showP {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showP {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.head {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-perspective: 500px;
          perspective: 500px;
  overflow: hidden;
  background-size: cover;
  text-align: center;
  padding: 0em;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0px;
  border-bottom: none;
}

.head__line {
  width: 80%;
  margin: 50px auto;
  text-align: center;
  padding-top: 20px;
}

.head__line p {
  color: #ebdcdc;
  font-family: "Abril Fatface";
}

.head__h2 {
  min-height: 30px;
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  color: #dbdbdb;
  text-shadow: 10px 10px 10px 10px white;
  font-family: "Indie Flower";
  text-transform: uppercase;
}

.head__but {
  border: none;
  border-radius: 10px;
  padding: 20px 25px;
  margin-bottom: 50px;
  margin-top: 100px;
  margin-right: 10px;
  font-size: 15px;
  color: white;
  background: rgba(5, 5, 5, 0.479);
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
  font-family: "Poppins";
  -webkit-animation: opacityBtn 6s;
          animation: opacityBtn 6s;
  cursor: pointer;
}

.head .head__projects:hover,
.head .head__kontakt:hover {
  font-size: 30px;
  background-color: #c90d0dcb;
}

.head__but:focus {
  -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.head div {
  text-align: center;
}

@media (min-width: 600px) {
  .head {
    height: 100vh;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .head__line {
    font-size: 42px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .head__line p {
    font-size: 46px;
  }
  .head__h2 {
    min-height: 75px;
    font-size: 50px;
  }
  .head__but {
    font-size: 20px;
    margin: 0 30px;
  }
}

@-webkit-keyframes opacityBtn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityBtn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.head:after {
  position: absolute;
  z-index: 1;
  width: 150vh;
  height: 350vh;
  left: 10%;
  content: "";
  background-image: url("../img//pngwave.png");
  background-size: contain;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation-name: splash;
          animation-name: splash;
  -webkit-transition: opacity 3s ease-in-out, -webkit-transform 5s ease-in-out;
  transition: opacity 3s ease-in-out, -webkit-transform 5s ease-in-out;
  transition: opacity 3s ease-in-out, transform 5s ease-in-out;
  transition: opacity 3s ease-in-out, transform 5s ease-in-out, -webkit-transform 5s ease-in-out;
  opacity: 0.06;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: rotateX(50deg) rotateZ(0deg) rotateY(0deg) translateY(0) translateX(10%) translateZ(0);
          transform: rotateX(50deg) rotateZ(0deg) rotateY(0deg) translateY(0) translateX(10%) translateZ(0);
  z-index: -1;
}

@-webkit-keyframes splash {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% -475px;
  }
}

@keyframes splash {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% -475px;
  }
}

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 100vh;
}

.aboutMe .btn-portfolio-3d {
  margin: 40px auto;
}

.aboutMe .btn-portfolio-3d a {
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 20px 50px;
  font-size: 15px;
  background-color: #c90d0dcb;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.aboutMe .btn-portfolio-3d a:focus {
  -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.aboutMe .btn-portfolio-3d a:hover {
  background-color: darkred;
}

.aboutMe__wrapper {
  min-height: 33vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.aboutMe__wrapper img {
  width: 30%;
  margin-top: 20px;
  -webkit-box-shadow: -23px 10px 30px -11px rgba(0, 0, 0, 0.3);
          box-shadow: -23px 10px 30px -11px rgba(0, 0, 0, 0.3);
}

.aboutMe__wrapper .aboutMe__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  width: 80%;
  background-color: rgba(5, 5, 5, 0.479);
  margin-top: 10px;
}

.aboutMe__wrapper .aboutMe__wrap .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 55px;
}

.aboutMe__wrapper .aboutMe__wrap .social-icons .icon {
  margin: 0 20px;
}

.aboutMe__wrapper .aboutMe__wrap .social-icons .icon a:focus {
  background-color: rgba(100, 100, 100, 0.329);
  -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.aboutMe__wrapper .aboutMe__wrap .social-icons i {
  margin: 15px 15px;
  padding: 5px 5px;
  z-index: 10;
  color: #f1ebdf;
}

.aboutMe__wrapper .aboutMe__wrap h1 {
  max-width: 70%;
  margin: 0 auto;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  font-family: "Poppins";
  color: #b1b1b1;
}

@media (min-width: 600px) {
  .aboutMe .aboutMe__wrap .social-icons {
    font-size: 45px;
  }
  .aboutMe .aboutMe__wrap .social-icons img {
    width: 40%;
  }
}

@media (min-width: 900px) {
  .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutMe .aboutMe__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .aboutMe img {
    width: 20%;
    margin: 25px;
  }
  .aboutMe .aboutMe__wrap {
    width: 60%;
    -webkit-box-shadow: 0px 5px 30px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 5px 30px 3px rgba(0, 0, 0, 0.3);
    margin: 20px;
  }
  .aboutMe .aboutMe__wrap h1 {
    max-width: 80%;
    font-size: 20px;
  }
  .aboutMe .aboutMe__wrap p {
    max-width: 80%;
    font-size: 10px;
  }
}

@media (min-width: 1200px) {
  .aboutMe .aboutMe__wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .aboutMe img {
    width: 15%;
    margin: 0;
  }
  .aboutMe .aboutMe__wrap {
    max-width: 55%;
    padding: 40px 0;
    margin: 0;
  }
  .aboutMe .aboutMe__wrap h1 {
    font-size: 20px;
  }
  .aboutMe .aboutMe__wrap .btn-portfolio-3d a {
    font-size: 20px;
  }
  .aboutMe .aboutMe__wrap .social-icons {
    font-size: 60px;
  }
}

.skills {
  min-height: 100vh;
}

.skills .container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.skills i {
  font-size: 30px;
}

.skills .circle-menu-box {
  width: 360px;
  height: 300px;
  position: relative;
  margin: 30px auto;
  margin-top: 30%;
}

.skills p.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  color: #777;
  background-color: rgba(5, 5, 5, 0.479);
  -webkit-box-shadow: 0px 0px 7px 2px #444444;
          box-shadow: 0px 0px 7px 2px #444444;
  padding: 10px 0;
  line-height: 1;
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: showSpan 1s;
          animation: showSpan 1s;
}

.skills p.menu-item span {
  position: absolute;
  text-transform: uppercase;
  opacity: 0;
  font-size: 10px;
}

.skills p.menu-item:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-box-shadow: none;
          box-shadow: none;
  background: rgba(26, 26, 26, 0.4);
}

.skills p.menu-item:hover i {
  opacity: 0;
  -webkit-animation: hideI 0.5s;
          animation: hideI 0.5s;
}

.skills p.menu-item:hover span {
  -webkit-animation: showSpan 0.5s;
          animation: showSpan 0.5s;
  opacity: 1;
}

@media (min-width: 600px) {
  .skills .circle-menu-box {
    width: 600px;
    height: 400px;
    margin-top: 20%;
  }
  .skills .circle-menu-box p.menu-item {
    height: 80px;
    width: 80px;
  }
  .skills i {
    font-size: 30px;
  }
  .skills .circle-menu-box p.menu-item:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@media (min-width: 900px) {
  .skills .circle-menu-box {
    width: 900px;
    height: 700px;
    margin-top: 10%;
  }
  .skills .circle-menu-box p.menu-item {
    height: 100px;
    width: 100px;
  }
  .skills .circle-menu-box p.menu-item span {
    font-size: 15px;
  }
  .skills i {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .skills .circle-menu-box {
    width: 1200px;
    height: 800px;
    margin-top: 5%;
  }
  .skills .circle-menu-box p.menu-item {
    width: 100px;
    height: 100px;
  }
  .skills i {
    font-size: 40px;
  }
}

@-webkit-keyframes showSpan {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showSpan {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hideI {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hideI {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.projects {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.projects button {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin: 10px;
  font-size: 20px;
  border: none;
  background: transparent;
  border-radius: 20%;
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
  background-color: rgba(5, 5, 5, 0.479);
  cursor: pointer;
  z-index: 1;
}

.projects .btn-left {
  left: 0;
}

.projects .btn-right {
  right: 0;
}

.projects button:hover {
  background-color: #c90d0dcb;
  color: #fff;
}

.projects button:focus {
  -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.projects__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.projects__one .git {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}

.projects__one .git a {
  color: black;
  text-decoration: none;
  text-align: center;
}

.projects__one .git a:focus {
  -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.projects__one .git p {
  font-size: 15px;
  font-family: "Poppins";
  color: #b9a8a8;
}

.projects__one img {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.projects__one div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: 20px auto;
  padding: 0 0 10px 5px;
}

.projects__one div h1 {
  font-size: 20px;
  padding: 15px 20px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: "Poppins";
}

.projects__one div p {
  padding: 10px 15px;
  color: #ddd;
  font-family: "Kalam";
}

@media (min-width: 600px) {
  .projects__one img {
    width: 60%;
    max-height: 30vh;
    margin: 50px auto;
    -webkit-box-shadow: 15px 15px 6px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 15px 15px 6px 0px rgba(0, 0, 0, 0.75);
  }
  .projects__one div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    width: 76%;
    font-size: 20px;
    padding-bottom: 50px;
    margin-bottom: 40px;
  }
  .projects__one div p {
    padding: 20px 45px;
  }
  .projects__one div .git {
    margin: 0;
    font-size: 35px;
  }
  .projects__one div .git p {
    font-size: 20px;
  }
}

@media (min-width: 900px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .projects .btn-right {
    right: 10%;
  }
  .projects .btn-left {
    left: 10%;
  }
  .projects__one {
    margin: 50px 0 50px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 64%;
  }
  .projects__one img {
    margin: 0 auto;
    width: 90%;
    min-height: 300px;
    max-height: 35vh;
    border: none;
  }
  .projects__one div {
    margin-top: 5vh;
    width: 88%;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .projects__one div h1 {
    font-size: 25px;
  }
  .projects__one div p {
    font-size: 20px;
    text-align: center;
  }
  .projects__one div .git {
    margin: 0;
    font-size: 50px;
  }
  .projects__one div .git p {
    font-size: 20px;
  }
}

@media (min-width: 1400px) {
  .projects {
    min-height: 700px;
    height: 100vh;
  }
  .projects button {
    height: 7vh;
    width: 7vh;
    font-size: 25px;
  }
  .projects .btn-left {
    left: 18%;
  }
  .projects .btn-right {
    right: 18%;
  }
  .projects__one {
    width: 70%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .projects__one img {
    width: 60%;
    height: 45vh;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 40px;
  min-height: 100vh;
  border-top: 2px solid white;
}

.contacts i {
  font-size: 30px;
  color: black;
}

.contacts p {
  color: white;
  font-size: 15px;
  padding-left: 20px;
  font-family: "Montserrat";
}

.contacts h1 {
  margin-top: 20px;
  text-align: center;
  line-height: 70px;
  font-family: "Indie Flower";
}

.contacts__wrap {
  width: 80%;
  margin: 0 auto;
}

.contacts__socials {
  width: 70%;
  margin: 0 auto;
}

.contacts__socials .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.contacts form {
  margin: 20px auto 0 auto;
  width: 80%;
  min-height: 340px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.contacts textarea {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 110px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: center;
  padding-left: 45px;
  padding-right: 20px;
  padding-top: 12px;
  margin-bottom: 20px;
  overflow: hidden;
}

.contacts input {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #fff;
  padding: 0 20px;
  margin-bottom: 20px;
}

.contacts input[type="submit"] {
  cursor: pointer;
}

.contacts input:focus,
.contacts textarea:focus {
  background-color: rgba(100, 100, 100, 0.329);
  -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.contacts .btn {
  width: 150px;
  height: 50px;
  border-radius: 4px;
  margin: 0 auto;
  border: 1px solid #253737;
  background: #416b68;
  padding: 10.5px 21px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
          box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
  text-shadow: #333333 0 1px 0;
  color: #e1e1e1;
}

.contacts .btn:hover {
  border: 1px solid #253737;
  text-shadow: #333333 0 1px 0;
  background: #416b68;
  color: #fff;
}

.contacts .btn:active {
  margin-top: 1px;
  text-shadow: #333333 0 -1px 0;
  border: 1px solid #253737;
  background: #6da5a3;
  color: #fff;
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
          box-shadow: rgba(255, 255, 255, 0) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
}

@media (min-width: 600px) {
  .contacts i {
    font-size: 55px;
  }
  .contacts p {
    font-size: 25px;
  }
  .contacts__wrap {
    width: 60%;
  }
  .contacts__socials {
    width: 80%;
  }
  .contacts__socials .social i {
    font-size: 40px;
  }
}

@media (min-width: 900px) {
  .contacts form {
    width: 50%;
    height: 50%;
  }
  .contacts h1 {
    margin-top: 15px;
    line-height: 60px;
    font-size: 30px;
  }
  .contacts__wrap {
    width: 90%;
  }
  .contacts__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
  }
  .contacts__socials .social i {
    font-size: 40px;
  }
  .contacts__socials .social p {
    font-size: 17px;
  }
}

@media (min-width: 1370px) {
  .contacts form {
    width: 45%;
  }
  .contacts form input {
    font-size: 15px;
  }
  .contacts h1 {
    font-size: 40px;
  }
  .contacts .contacts__wrap {
    width: 76%;
  }
  .contacts .contacts__wrap .contacts__socials {
    margin: 0 auto;
  }
  .contacts .contacts__wrap .contacts__socials .social i {
    font-size: 50px;
  }
  .contacts .contacts__wrap .contacts__socials .social p {
    font-size: 20px;
  }
}

.smallMenu {
  z-index: 2;
}

.smallMenu__first {
  position: fixed;
  top: 10px;
  right: 20px;
  font-size: 30px;
}

.smallMenu__second {
  position: fixed;
  top: 10px;
  right: 20px;
  font-size: 30px;
  display: none;
}

@media (min-width: 600px) {
  .smallMenu__first {
    top: 10px;
    right: 10px;
  }
  .smallMenu__second {
    top: 0;
  }
}

@media (min-width: 900px) {
  .smallMenu__first {
    top: 0;
    display: none;
  }
  .smallMenu__second {
    top: 0;
    display: none;
  }
}

.backButton {
  bottom: 0;
  max-width: 90%;
  position: fixed;
  width: 100%;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: transparent;
  z-index: 99;
}

.back {
  font-family: "roboto";
  width: 45px;
  height: 45px;
  margin: 5px;
  font-size: 30px;
  color: white;
  background-color: lightblue;
  border-radius: 50%;
  border-color: transparent;
  cursor: pointer;
}

.fas {
  color: #eeeeee;
}

.footer {
  font-family: "Poppins";
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 16px;
  border-top: 2px solid white;
}
/*# sourceMappingURL=style.css.map */