.backButton {
  bottom: 0;
  max-width: 90%;
  position: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background-color: transparent;
}

.back {
  font-family: "roboto";
  width: 45px;
  height: 45px;
  margin: 5px;
  font-size: 30px;

  color: white;
  background-color: lightblue;
  border-radius: 50%;
  border-color: transparent;
  cursor: pointer;
}

.fas {
  color: rgb(238, 238, 238);
}
