.menu {
  font-size: 15px;

  display: none;
  z-index: 99;

  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    background-color: black;

    a {
      font-family: "popins";
      position: relative;
      padding: 10px 20px;
      margin: 10px;
      font-size: 22px;
      border-style: none;
      background-color: transparent;
      overflow: hidden;
      color: white;
      cursor: pointer;
      span {
        display: none;
      }
    }
    a:nth-of-type(1) {
      span {
        display: block;
      }
    }
  }
}

@media (min-width: 900px) {
  .menu {
    display: flex;

    &__navigation {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 7%;
      top: 20%;
      right: 20px;

      a {
        position: relative;
        transition: all 0.5s;
        padding: 0;
        margin: 7px 0;
        height: 80px;
        width: 80px;
        border-radius: 50%;

        flex-grow: 1;
        color: #fcfcfc;

        font-size: 15px;
        background: $bgc-dark;

        p {
          display: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        span {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          font-size: 16px;
        }
      }
    }
    a:nth-of-type(1) {
      font-size: 25px;
    }

    a:hover {
      width: 100px;
      height: 100px;
      right: 30px;
      animation: menu 0.5s;
      color: white;
      background: rgba(5, 5, 5, 0.692);
      font-size: 10px;
      p {
        display: block;
        text-transform: uppercase;
        animation: showP 2s;
      }
      span {
        display: none;
      }
    }

    a:focus {
      // background-color: rgba(100, 100, 100, 0.329);
      box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
      overflow: hidden;
    }
  }
}
a:first-of-type:hover {
  background: #20232a;
  span {
    display: block;
  }
}

@media (min-width: 1370px) {
  .menu {
    &__navigation {
      top: 15%;
      right: -20px;
      a {
        font-size: 14px;
        margin-top: 50px;

        width: 70px;
        height: 70px;

        font-size: 15px;

        font-weight: bold;
      }
      a:hover {
        width: 107px;
        height: 107px;

        font-size: 12px;
      }
    }
  }
}

@keyframes menu {
  0% {
    right: 0%;
  }
  100% {
    right: 30px;
  }
}

@keyframes showP {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.active {
  background-color: red;
}
