.projects {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
  button {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    border: none;
    background: transparent;
    border-radius: 20%;
    transition: background-color 0.4s, color 0.4s;
    background-color: $bgc-dark;
    cursor: pointer;
    z-index: 1;
  }

  .btn-left {
    left: 0;
  }

  .btn-right {
    right: 0;
  }

  button:focus {
    // background-color: rgba(100, 100, 100, 0.329);
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
    overflow: hidden;
  }
  &__one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .git {
      width: 100%;

      box-shadow: none;
      border: none;
      align-items: center;
      font-size: 24px;
      overflow: hidden;
      a {
        color: black;
        text-decoration: none;
        text-align: center;
      }
      a:focus {
        // background-color: rgba(100, 100, 100, 0.329);
        box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
        overflow: hidden;
      }
      p {
        font-size: 15px;
        font-family: "Poppins";
        color: rgb(185, 168, 168);
      }
    }

    img {
      width: 80%;
      max-height: 30vh;
      margin: 0 auto;
    }

    div {
      display: flex;
      flex-direction: column;

      width: 70%;
      margin: 20px auto;
      padding: 0 0 10px 5px;

      h1 {
        font-size: 20px;
        padding: 15px 20px;
        margin: 0 auto;
        text-align: center;
        color: rgb(255, 255, 255);

        font-family: "Poppins";
      }
      p {
        padding: 10px 15px;

        color: #ddd;
        font-family: "Kalam";
      }
    }
  }
}

@media (min-width: 600px) {
  .projects {
    &__one {
      img {
        width: 60%;

        max-height: 30vh;
        margin: 50px auto;
        // padding-top: 20px;
        box-shadow: 15px 15px 6px 0px rgba(0, 0, 0, 0.75);
      }
      div {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        width: 76%;
        font-size: 20px;
        padding-bottom: 50px;
        margin-bottom: 40px;

        p {
          padding: 20px 45px;
        }
        .git {
          margin: 0;
          font-size: 35px;
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .projects {
    .btn-right {
      right: 10%;
    }
    .btn-left {
      left: 10%;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &__one {
      margin: 50px 0 50px 0;

      flex-direction: column;
      width: 64%;
      img {
        margin: 0 auto;
        width: 90%;
        min-height: 300px;
        max-height: 35vh;
        border: none;
      }
      div {
        margin-top: 5vh;
        width: 88%;
        border: none;
        box-shadow: none;
        h1 {
          font-size: 25px;
        }
        p {
          font-size: 20px;

          text-align: center;
        }
        .git {
          margin: 0;
          font-size: 50px;
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}
@media (min-width: 1100px) {
  button:hover {
    background-color: $button-color;
    color: #fff;
  }
}

@media (min-width: 1400px) {
  .projects {
    min-height: 700px;
    height: 100vh;
    button {
      height: 7vh;
      width: 7vh;
      font-size: 25px;
    }
    .btn-left {
      left: 18%;
    }

    .btn-right {
      right: 18%;
    }
    &__one {
      width: 70%;
      justify-content: flex-start;
      img {
        width: 60%;
        height: 45vh;
      }
    }
  }
}
