.projects {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  button {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    border: none;
    background: transparent;
    border-radius: 20%;
    transition: background-color 0.4s, color 0.4s;
    background-color: rgb(32, 32, 32);
    cursor: pointer;
    z-index: 1;
  }

  .btn-left {
    left: 0;
  }

  .btn-right {
    right: 0;
  }
  button:hover {
    background-color: rgb(212, 28, 28);
    color: #fff;
  }
  &__one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .git {
      width: 100%;

      box-shadow: none;
      border: none;
      align-items: center;
      font-size: 24px;

      a {
        color: black;
        text-decoration: none;
        text-align: center;
      }
      p {
        font-size: 15px;
        font-family: "Poppins";
        color: rgb(185, 168, 168);
      }
    }

    img {
      width: 80%;
      height: 80%;
      margin: 0 auto;
      margin-top: 30px;
      padding: 6px;
      border-top: 4px solid white;
      border-right: 4px solid white;
    }

    div {
      display: flex;
      flex-direction: column;

      width: 70%;
      margin: 20px auto;
      padding: 0 0 10px 5px;

      h1 {
        font-size: 20px;
        padding: 15px 20px;
        margin: 0 auto;
        text-align: center;
        color: rgb(255, 255, 255);

        font-family: "Poppins";
      }
      p {
        padding: 10px 15px;

        color: #ddd;
        font-family: "Kalam";
      }
    }
  }
}

@media (min-width: 600px) {
  .projects {
    &__one {
      img {
        width: 70%;
        height: 30%;
        margin: 50px auto;
        padding-top: 20px;
      }
      div {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        width: 76%;
        font-size: 20px;
        padding-bottom: 50px;
        margin-bottom: 40px;

        p {
          padding: 20px 45px;
        }
        .git {
          margin: 0;
          font-size: 35px;
          p {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .projects {
    .btn-right {
      right: 10%;
    }
    .btn-left {
      left: 10%;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &__one {
      margin: 50px 0 50px 0;

      flex-direction: column;
      width: 64%;
      img {
        margin: 0 auto;
        width: 90%;
        min-height: 300px;
        border: none;
        box-shadow: none;
      }
      div {
        margin-top: 5vh;
        width: 88%;
        border: none;
        box-shadow: none;
        h1 {
          font-size: 25px;
        }
        p {
          font-size: 20px;

          text-align: center;
        }
        .git {
          margin: 0;
          font-size: 50px;
          p {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .projects {
    .btn-left {
      left: 18%;
    }

    .btn-right {
      right: 18%;
    }
    &__one {
      width: 70%;
      img {
        width: 70%;
        height: 50%;
      }
    }
  }
}
