* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // max-width: 1370px;

  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  body {
    width: 100%;
    left: 0;
    margin: 0;
  }
}
