* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(
      60% 60% ellipse at top left,
      #0c535c 20%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(50% 60% ellipse at bottom right, #0c535c 20%, #0f3443 100%);
  background-attachment: fixed;
  font-family: "Lato";
}

$button-color: #c90d0dcb;
$bgc-dark: rgba(5, 5, 5, 0.479);
