.skills {
  // background: radial-gradient(ellipse at bottom, #436285 0%, #090a0f 100%);
  min-height: 100vh;
  .container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  img {
    width: 30px;
  }

  .circle-menu-box {
    width: 360px;
    height: 300px;
    position: relative;
    margin: 30px auto;
    margin-top: 30%;
  }
  p.menu-item {
    display: block;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    width: 50px;
    height: 50px;
    color: #777;
    background-color: rgb(209, 208, 208);
    box-shadow: -4px 4px 7px 0px rgb(43, 42, 42);
    padding: 10px 0;
    line-height: 1;
    position: absolute;
    transition: all 0.5s;
  }

  p.menu-item:hover {
    transform: scale(1.4);
    border-radius: 100%;
    box-shadow: none;
    color: #fff;
    background: #ff3333;
  }
}

@media (min-width: 600px) {
  .skills {
    .circle-menu-box {
      width: 600px;
      height: 400px;
      margin-top: 20%;

      p.menu-item {
        height: 80px;
        width: 80px;
        padding: 10px 0;
      }
    }
    img {
      width: 60px;
      height: 60px;
    }

    .circle-menu-box p.menu-item:hover {
      transform: scale(1.5);
    }
  }
}

@media (min-width: 900px) {
  .skills {
    .circle-menu-box {
      width: 900px;
      height: 700px;
      margin-top: 10%;
      p.menu-item {
        height: 100px;
        width: 100px;
        padding: 10px 0;
      }
    }

    img {
      width: 80px;
      height: 80px;
    }
  }
}
@media (min-width: 1200px) {
  .skills {
    .circle-menu-box {
      width: 1200px;
      height: 800px;
      margin-top: 5%;
      p.menu-item {
        width: 120px;
        height: 120px;
        padding: 20px 0;
      }
    }

    img {
      width: 80px;
      height: 80px;
    }
  }
}
