.skills {
  background: radial-gradient(ellipse at bottom, #436285 0%, #090a0f 100%);
  min-height: 100vh;
  .container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  img {
    width: 40px;
  }

  .circle-menu-box {
    width: 360px;
    height: 300px;
    position: relative;
    margin: 30px auto;
  }
  .circle-menu-box p.menu-item {
    display: block;
    text-decoration: none;
    border-radius: 100%;
    text-align: center;
    width: 100px;
    height: 100px;
    color: #777;
    padding: 30px 0;
    line-height: 1;
    position: absolute;
    transition: all 0.5s;
  }

  .circle-menu-box p.menu-item:hover {
    transform: scale(0.6);
    color: #fff;
    background: #ff3333;
  }
}

@media (min-width: 600px) {
  .skills {
    .circle-menu-box {
      width: 600px;
      height: 400px;
    }
    .circle-menu-box p.menu-item {
      height: 150px;
      width: 150px;
    }
    img {
      width: 60px;
      height: 60px;
    }

    .circle-menu-box p.menu-item:hover {
      transform: scale(1.5);
    }
  }
}

@media (min-width: 900px) {
  .skills {
    .circle-menu-box {
      width: 900px;
      height: 700px;
    }

    img {
      width: 80px;
      height: 80px;
    }
  }
}
@media (min-width: 1200px) {
  .skills {
    .circle-menu-box {
      width: 1200px;
      height: 800px;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }
}
